---
import ProjectIcon from "../UI/ProjectIcon.astro";

const { projectUrl, title, icon, sourceUrl, liveUrl } = Astro.props;
---

<li class="project">
  <a class="title-link" href={projectUrl}>
    <span class="icon">
      <ProjectIcon icon={icon} />
    </span>
    <h3>{title}</h3>
  </a>
  <a class="external-link" href={`https://github.com/${sourceUrl}`}>Source</a>
  <a class="external-link" href={liveUrl}>Live</a>
</li>


<style>
  @import "../../styles/mixins/mixins.css";

  .project {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: 2rem;
  }

  .title-link {
    display: grid;
    grid-template-columns: 28px 1fr;
    gap: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .external-link {
    font-size: 0.875rem;
    &:hover {
      text-decoration: underline;
    }
  }
</style>