---
import Icon from 'astro-icon';
import HeroHeading from './HeroHeading.astro';
import Meta from '@components/Heros/Meta/Meta.astro';
import MetaDivider from '@components/Heros/Meta/MetaDivider.astro';

const { content } = Astro.props;
---

<header>
  <HeroHeading title={content.title} />
  <Meta>
    <Icon name={`icon-project-${content.icon}`} />
    <MetaDivider />
    <div class="meta__description">{content.description}</div>
    <MetaDivider />
    <date>{content.year}</date>
    <!-- <div class="external-links">
      <a class="external-link" href={`https://github.com/${content.sourceUrl}`}>Source</a>
      <a class="external-link" href={content.liveUrl}>Live</a>
    </div> -->
  </Meta>
</header>

<style>
  @import '../../styles/vars.css';
  @import '../../styles/mixins/mixins.css';

  header {
    display: flex;
    flex-direction: column;
    row-gap: fluid(24px, 32px, toRem);
    align-items: center;
    font-size: toRem(14px);
  }

  header :global( svg) {
    width: 26px;
    flex-shrink: 0;
  }

  .meta__description {
    font-size: toRem(16px);
  }
</style>
