---
import SiteLayout from '@layouts/SiteLayout.astro';
import Container from '@components/UI/Container.astro';
import ProjectHero from '@components/Heros/ProjectHero.astro';
import ProjectContentToolbar from '@components/Content/ProjectContentToolbar.astro';
import MarkdownWrapper from '@components/Content/MarkdownWrapper.astro';
import Markdown from '@astrojs/markdown-component';

const { content } = Astro.props;

const response = await fetch(`https://raw.githubusercontent.com/${content.sourceUrl}/main/README.md`);
let readme = await response.text();
console.log (readme);
readme = readme.replaceAll('- [ ]', '- <span class="todo"></span>'); // Remove md todo TODO: Add custom todo styling

---

<SiteLayout title={content.title} description={content.description} bodyClass='markdown'>
  <Container maxWidth="720px">
    <ProjectHero content={content} />
    <div>
      <ProjectContentToolbar sourceUrl={content.sourceUrl} liveUrl={content.liveUrl}/>
      <MarkdownWrapper>
        <Markdown content={readme} />
      </MarkdownWrapper>
    </div>
  </Container>
</SiteLayout>